:root {
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --font-leckerli: "Leckerli One", serif;
  --logo: 400 2.5rem var(--font-leckerli);

  --font-baloo: "Baloo 2", serif;
  --heading-md: 700 1.75rem var(--font-baloo);
  --heading-sm: 700 1.125rem var(--font-baloo);

  --open-sans: "Open Sans", sans-serif;
  --body-md: 300 1rem var(--open-sans);
  --body-sm: 400 .875rem var(--open-sans);
  --body-xs: 400 .75rem var(--open-sans);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 36% 64%;
  height: 100vh;

  background-color: var(--shape-background);
}


aside {
  background-image: url(../assets/background-cake.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  border-radius: 12px;

  margin: 20px;

  #aside-text {
    margin: 32px auto auto 32px;
  }

  h1 {
    font: var(--logo);
    color: #FF598B;
  }

  p {
    font: var(--body-md);
    color: var(--text-heading);
  }
}

