main {
  /* form { */
    font: var(--body-md);
    color: var(--input-placeholder);
  /* } */

  .form-box {
    display: flex;
    flex-direction: column;
    border: 1px red solid;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}