main {
  margin: 20px 20px 20px 0;
  padding: 80px 130px;
  background-color: var(--shape-body);
  border-radius: 12px;

  .form-box {
    display: flex;
    flex-direction: column;

    input {
      background-color: var(--input-base);
      border: 1px solid var(--input-stroke);
      border-radius: 8px;
      padding: 13px;
      height: 48px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  #tipo {
      display: flex;
      background-color: var(--input-base);
      border: 1px solid var(--input-stroke);
      border-radius: 8px;
      margin-top: 12px;
      
      overflow: hidden; /* Garante bordas arredondadas sem conteúdo escapando */
      height: 48px;
      gap: 0;

    .form-box {
      flex: 1; /* Cada botão ocupa o mesmo espaço */
    }
    
    input[type="radio"] {
      display: none; /* Oculta o botão padrão */
    }
    
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 100%;
      cursor: pointer;
      font: var(--body-sm);
      color: var(--text-body);
      background-color: var(--input-base);
    }
    
    input[type="radio"]:checked + label {
      background-color: var(--shape-hover); /* Cor de fundo do botão ativo */
      color: var(--text-heading); /* Cor do texto ativo */
      margin: 2px;
      border-radius: 5px;
    }
    
    label img {
      width: 20px;
      height: 20px;
      transition: all 0.3s;
      margin-right: 5px;
    }
    
    input[type="radio"]#presencial:checked + label img {
      content: url("../assets/icons/presencialselected.svg"); /* Imagem para estado checked */
    }
    
    input[type="radio"]#online:checked + label img {
      content: url("../assets/icons/onlineselected.svg"); /* Imagem para estado checked */
    }  
  }

  label {
    font: var(--body-sm);
    color: var(--text-body);
    margin-bottom: 12px;
  }

  h1 {
    font: var(--heading-md);
    color: var(--text-heading);
  }

  fieldset {
    border: none;
    display: grid;
    gap: 16px;
    margin-top: 50px;

    legend {
      display: inline-flex;
      align-items: center;
      font: var(--heading-sm);
      color: var(--text-heading);
      margin-bottom: 24px;

      img {
        margin-right: 12px;
      }
    }
  }

  textarea {
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    font: var(--body-sm);
    color: var(--text-body);
    padding: 16px;
    resize: none;
  }
}